
@{
    ViewBag.Title = "Department Scrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/SCRAP-RATE.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />


<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/Scrap-Rate.js"></script>
<script type="text/javascript">
        $(function(){
            SCRAPRATE.DEPARTMENTINIT();
        })
</script>

<input class="hide" type="text" id="hidetitle" name="hidetitle" value="SCRAP / DEPARTMENT SCRAP">

@*<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Main Page" href="/Main/Index">Main</a></li>
            <li class="active">Department Scrap</li>
        </ol>
    </div>
</div>*@

<div class="row">
    @*<nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li>
                <a href="/Scrap/ScrapTrend">
                    <span class="item-show">Scrap Trend</span>
                </a>
            </li>
            <li class="active">
                <a href="/Scrap/DepartmentScrap">
                    <span class="item-show">Department Scrap</span>
                </a>
            </li>
            <li>
                <a href="/Scrap/CostCenterScrap">
                    <span class="item-show">Cost Center Scrap</span>
                </a>
            </li>
            <li>
                <a href="/Scrap/ProductScrap">
                    <span class="item-show">Product Scrap</span>
                </a>
            </li>
        </ul>
    </nav>*@
    <div class="col-xs-12">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <label class="col-xs-2">Finance Year</label>
                    <div class="col-xs-2">
                        @Html.DropDownList("fyearlist", null, new { @id = "fyearlist", @class = "form-control" })
                    </div>
                    <div class="col-xs-1 text-center"></div>
                    <label class="col-xs-2">Finance Quarter</label>
                    <div class="col-xs-3">
                        @Html.DropDownList("fquarterlist", null, new { @id = "fquarterlist", @class = "form-control" })
                    </div>
                    <div class="col-xs-1 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                    </div>
                </div>
            </div>
            <div class="v-content">
            </div>
            <span id="loadcomplete" name="loadcomplete" class="hide">FALSE</span>
            <input class="hide" id="department" name="department" type="text" value="@ViewBag.Department"/>
        </div>
    </div>
    <div class="hidden">
        <a id="exportLink"></a>
    </div>
</div>

