
@{
    ViewBag.Title = "DepartmentMachine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/SCRAP-RATE.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />

<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/machine.js"></script>
<script type="text/javascript">
        $(function(){
            MACHINE.DEPARTMENTINIT();
        })
</script>


<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Main Page" href="/Main/Index">Main</a></li>
            <li class="active">Department Machine Use Rate</li>
        </ol>
    </div>
</div>

<div class="row">
    <nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li class="active">
                <a href="/Machine/DepartmentMachine">
                    <span class="item-show">Department Machine</span>
                </a>
            </li>
            <li>
                <a href="/Machine/ProductMachine">
                    <span class="item-show">Product Machine</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="col-xs-10">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                </div>
            </div>
            <div class="v-content">
                <table class="table table-hover  table-condensed table-striped" id="yieldmaintable" style="margin-top:1%">
                    <caption class="tb-caption">DEPARTMENT MACHINE USE RATE</caption>
                    <thead id="yieldtabheadid"></thead>
                    <tbody id="yieldtabcontentid"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="hidden">
        <a id="exportLink"></a>
    </div>
</div>

<div class="modal" id="testyieldmodal" tabindex="-1" role="dialog" aria-labelledby="testyieldmodalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="testyieldmodalLabel">Machine Info</h4>
            </div>
            <div class="row" style="margin-left:15px!important;margin-right:15px!important;">
                <table class="table table-hover  table-condensed table-striped" id="testyieldtable" style="margin-top:1%">
                    <caption class="tb-caption">MACHINE TABLE</caption>
                    <thead id="testyieldheadid"></thead>
                    <tbody id="testyieldcontentid"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>