
@{
    ViewBag.Title = "Department HPU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/SCRAP-RATE.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />


<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/HPU.js"></script>
<script type="text/javascript">
        $(function(){
            HPU.DEPARTMENTINIT();
        })
</script>

<input class="hide" type="text" id="hidetitle" name="hidetitle" value="HPU / DEPARTMENT HPU">

@*<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Main Page" href="/Main/Index">Main</a></li>
            <li class="active">Department HPU</li>
        </ol>
    </div>
</div>*@

<div class="row">
    @*<nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li>
                <a href="/DataAnalyze/HPUTrend">
                    <span class="item-show">HPU Trend</span>
                </a>
            </li>
            <li class="active">
                <a href="/DataAnalyze/DepartmentHPU">
                    <span class="item-show">Department HPU</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/SerialHPU">
                    <span class="item-show">Serial HPU</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/PNHPU">
                    <span class="item-show">PN HPU</span>
                </a>
            </li>
        </ul>
    </nav>*@

    <div class="col-xs-12">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <label class="col-xs-2">Product Line</label>
                    <div class="col-xs-2">
                        @Html.DropDownList("productlines", null, new { @id = "productlines", @class = "form-control" })
                    </div>
                    <div class="col-xs-1 text-center"></div>
                    <label class="col-xs-2">Finance Quarter</label>
                    <div class="col-xs-3">
                        @Html.DropDownList("quarterlist", null, new { @id = "quarterlist", @class = "form-control" })
                    </div>
                    <div class="col-xs-1 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                    </div>
                </div>
            </div>
            <div class="v-content">
                <table class="table table-hover  table-condensed table-striped" id="hpumaintable" style="margin-top:1%">
                    <caption class="tb-caption">DEPARTMENT HPU TABLE</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>HPUCode</th>
                            <th>Product Line</th>
                            <th>Serial</th>
                            <th>Phase</th>
                            <th>PN</th>
                            @*<th>WH Measure</th>
                            <th>WH Collect</th>
                            <th>WH Checked</th>*@
                            <th>Yield HPU</th>
                            <th>Owner</th>
                            <th>Update Date</th>
                            @*<th>Form Make</th>*@
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody id="hpumaintableid"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="hidden">
        <a id="exportLink"></a>
    </div>
</div>



