
@{
    ViewBag.Title = "HPU Trend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/SCRAP-RATE.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />


<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/HPU.js"></script>
<script type="text/javascript">
        $(function(){
            HPU.TRENDINIT();
        })
</script>

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Main Page" href="/Main/Index">Main</a></li>
            <li class="active">HPU Trend</li>
        </ol>
    </div>
</div>

<div class="row">
    <nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li class="active">
                <a href="/DataAnalyze/HPUTrend">
                    <span class="item-show">HPU Trend</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/DepartmentHPU">
                    <span class="item-show">Department HPU</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/SerialHPU">
                    <span class="item-show">Serial HPU</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/PNHPU">
                    <span class="item-show">PN HPU</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="col-xs-10">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <label class="col-xs-2">Product Serial</label>
                    <div class="col-xs-8">
                        <input type="text" class="pd_serial_cla" data-provide="typeahead"
                               id="pd_serial" name="pd_serial" autocomplete="off" placeholder="Product Serial" value="@ViewBag.defaultserial">
                    </div>
                    <div class="col-xs-1 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                    </div>
                </div>
            </div>
            <div class="v-content">
            </div>
            <span id="loadcomplete" name="loadcomplete" class="hide">FALSE</span>
        </div>
    </div>
    <div class="hidden">
        <a id="exportLink"></a>
    </div>
</div>


