
@{
    ViewBag.Title = "ProductCost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    th.dt-center, td.dt-center {
        text-align: center;
        max-width: 600px;
        word-wrap: break-word;
    }

    .tb-caption {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    }

    .mdyddata {
        cursor:pointer;    
    }
</style>

<script type="text/javascript" src="~/Scripts/inventory.js"></script>

<input class="hide" type="text" id="hidetitle" name="hidetitle" value="Procut Cost">

@if (!ViewBag.AUTH)
{
    <h3>You or Your computer is not authorized to review this page!</h3>
    <h3>Please contact Brad.Qiu.</h3>
}
else
{
    <script type="text/javascript">
        $(function(){
            INVENTORY.PRODUCTCOSTINIT();
        })
    </script>

    <input type="text" class="hide" id="level" name="level" value="@(ViewBag.Level)">

    <div class="row">
        <div class="col-xs-12">
            <div class="v-container">
                <div class="v-filter">

                        <div class="row row-margin">
                            <label class="col-xs-2 hide">PM</label>
                            <div class="col-xs-3 hide">
                                <input class="form-control hide" type="text" id="pmlist" name="pmlist" placeholder="PM" readonly="readonly">
                            </div>
                            <label class="col-xs-2">Product</label>
                            <div class="col-xs-3">
                                <input class="form-control" type="text" id="pdlist" name="pdlist" placeholder="Product" readonly="readonly">
                            </div>
                            <div class="col-xs-1 box-search" style="padding-left:0">
                                <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                            </div>
                        </div>
                    <input class="form-control hide" type="text" id="hpn" name="hpn" value="@ViewBag.pn">
                </div>
                <div class="v-content" style="margin-top:2%;">
                    @*<table class="table table-hover  table-condensed table-striped" id="pdcosttable" style="margin-top:1%">
                        <caption class="tb-caption">Product Cost</caption>
                        <thead id="pdcosthead"></thead>
                        <tbody id="pdcostcontent"></tbody>
                    </table>*@
                </div>
                <input class="hide" type="file" name="file1" id="file1" runat="server"/>
            </div>
        </div>
    </div>

    <div class="modal fade" id="epdlg" tabindex="-1" role="dialog" style="margin-top:2%">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create EP Cost</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Quarter</label></div>
                        <div class="col-sm-6">@Html.DropDownList("epquarterlist", null, new { @id = "epquarterlist", @name = "epquarterlist", @class = "form-control" })</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Process HPU</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="prochpu" name="prochpu" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Yield</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="epyield" name="epyield" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Labor Effic</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="eplab" name="eplab" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">BOM</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="epbom" name="epbom" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Labor FOS</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="eplabfos" name="eplabfos" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Overhead FOS</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="epoverheadfos" name="epoverheadfos" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">QTY Built</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="epqty" name="epqty" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">ASP</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="epasp" name="epasp" /></div>
                        <div class="col-sm-1"></div>
                        <input class="hide" type="text" id="eppn" name="eppn" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-addep" name="btn-addep">submit</button>
                    <button type="button" class="btn btn-danger" id="btn-cancel" name="btn-cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="mddlg" tabindex="-1" role="dialog" style="margin-top:2%">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modify Forcast Yield/ASP</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">Yield</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="fyield" name="fyield" /></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4"><label class="form-control">ASP</label></div>
                        <div class="col-sm-6"><input class="form-control" type="text" id="fasp" name="fasp" /></div>
                        <div class="col-sm-1"></div>
                        <input class="hide" type="text" id="fpn" name="fpn" value="" />
                        <input class="hide" type="text" id="fqt" name="fqt" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-mdyd" name="btn-mdyd">submit</button>
                    <button type="button" class="btn btn-danger" id="btn-can" name="btn-can" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}


